*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    margin: 0;
    height: 100%;
}
body{
    background-color: #f1f3f4;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}
.top-nav-bar{
    height: 57px;
    top: 0;
    position: sticky;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 3px solid #FF5A5F;
    z-index: 2; 
}
.logo{
    height: 40px;
    margin: 5px 10px;
}
.search-box .form-control{
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid #FF5A5F !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
}
.input-group-text{
    background: #FF5A5F !important;
    border: 1px solid #FF5A5F !important;
    margin: 8.5px 10px 3px 0;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}
.search-box{
    display: inline-flex;
    width: 60%;
}
.fa-search{
    color: #fff;
}
.menu-bar{
    width: 40%;
    height: 57px;
    float: right;
}
.menu-bar ul{
    display: inline-flex;
    float: right;
}
.menu-bar ul li{
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 15px 30px;
    text-align: center;
    background-color: #FF5A5F;
    cursor: pointer;
}
.menu-bar ul li a{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.fa-shopping-basket{
    margin-left: 5px;
}

@media only screen and (max-width: 980px){
    .top-nav-bar{
        height: 118px;
        border-bottom: 0;
    }
    .search-box{
        width: 100%;
    }
    .menu-bar{
        width: 100%;
    }
    .menu-bar ul{
        margin: 10px 0;
        width: 100%;
    }
    .menu-bar ul li{
        height: 57px;
        width: 100%;
    }
}

@media only screen and (max-width: 490px){
    .menu-bar ul li{
        padding: 10px 5px;
    }
    .menu-bar ul li a{
        font-size: 10px;
        font-weight: bold;
    }
    .logo{
        height: 40px;
        margin: 1px 2px;
    }
    .search-box{
        width: 30%;
    }
}


/***************************Side-menu***********************************/
.side-menu{
    height: 79%;
    width: 15%;
    font-size: 14px;
    float: left;
    z-index: 2;
    background-color: #ddd;
}
.side-menu ul{
    margin-left: 10px;
}
.side-menu  li{
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}
.side-menu  li a{
    color: #555;
}
.side-menu ul a:hover{
    color: #FF5A5F;
    text-decoration: none;
}
.side-menu ul li ul{
    display: none;
    z-index: 10;
    top: 77px;
}
.side-menu ul li:hover ul{
    display: block;
    height: 400px;
    margin-left: 14%;
    padding: 0 100px 10px 10px;
    position: fixed;
    background: #ececec;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}
.fa-angle-right{
    margin-top: 4px;
    margin-right: 8px;
    float: right;
}
#menu-btn, #close-btn{
    font-size: 30px;
    margin: 10px;
    color: #FF5A5F;
    display: none;
}

@media only screen and (max-width: 980px){
    .side-menu{
        width: 34%;
        z-index: 20;
        top: 133px;
        position: fixed;
        font-size: 10px;
        display: none;
    }
    .side-menu ul li ul{
        top: 133px;
    }
    .side-menu ul li:hover ul{
        margin-left: 31%;
    }
    #menu-btn{
        display: block;
    }
}

/*------------------------Slider Css--------------------------------*/
.slider{
    width: 85%;
    margin-left: 15%;
    padding: 0 10px;
}
.carousel{
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}
.carousel-indicators{
    z-index: 1 !important;
}

@media only screen and (max-width: 980px){
    .slider{
        width: 100%;
        margin-left: 0;
    }
}

/*-------------------------------featured-categories Css-----------------------------*/
.featured-categories{
    margin: 50px 0;
}
.featured-categories img{
    width: 100%;
    padding: 20px 0;
    transition: 1s;
    cursor: pointer;
}
.featured-categories img:hover{
    transform: scale(1.1);
}

/*-----------------------On-Sale-products Css--------------------------*/
.title-box{
    background: #FF5A5F;
    color: #fff;
    width: 180px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
}
.title-box h2{
    font-size: 24px;
}
.title-box::after{
    content: "";
    border-top: 40px solid #FF5A5F;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 170px;
}

/*----------------------------product-top Css-------------------------*/
.product-top img{
    width: 100%;
}
.overlay-right{
    display: block;
    opacity: 0;position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
}
.overlay-right .fa{
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.overlay-right .btn-secondary{
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}
.product-top:hover .overlay-right{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}

/*---------------------product-bottom Css-------------------------*/
.product-bottom .fa{
    color: #FF5A5F;
    font-size: 10px;
}
.product-bottom h3{
    font-size: 20px;
    font-weight: bold;
}
.product-bottom h5{
    font-size: 15px;
    padding-bottom: 10px;
}

/*---------------------------------------new-products----------------------------*/
.new-products{
    margin: 50px 0;
}
/*-----------------website-features--------------------------*/
.website-features{
    margin: 60px 0;
}
.website-features img{
    width: 20%;
}
.feature-text{
    margin-top: 10px;
    float: right;
    width: 80%;
    padding-left: 20px;
}
.feature-box{
    padding-top: 20px;
}

/*--------------Footer-----------------------*/
.footer{
    margin-top: auto;
    background: #000;
    color: #fff;
}
.footer h1{
    font-size: 15px;
    margin: 25px 0;
}
.footer p{
    font-size: 12px;
}
.copyright{
    text-align: center;
    font-size: 15px;
}
.fa-heart-o{
    color: red;
    font-size: 15px;
}
.footer hr{
    margin-top: 10px;
    background-color: #ccc;
}
.footer-image img{
    width: 150px;
}
.footer .row .fa{
    padding-right: 20px;
    font-size: 15px;
}

/*-------------------------single-product--------------------*/
.single-product{
    margin-top: 70px;
}
.new-arrival{
    background: green;
    width: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}
.col-md-7 h2{
    color: #555;
}
.single-product .fa{
    color: #FF5A5F;
}
.single-product .price{
    color: #FF5A5F;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}
.single-product input{
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}
.single-product .btn-primary{
    background: #FF5A5F !important;
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
    border: none;
    box-shadow: none !important;
}

/*---------------------------Product-Description---------------------------*/
.product-description h5{
    margin-top: 50px;
    color: #FF5A5F;
}
.product-description p{
    margin-top: 30px;
}
.product-description hr{
    margin-bottom: 50px;
}

/*---------------------------------Table responsive-------------------------------*/
.table-responsive{
    margin: 0 auto;
}
*, *::before, *::after{
    box-sizing: border-box;
}
table{
    width: 100%;
    border-collapse: collapse;

}
th, td{
    padding: 10px;
    text-align: left;
    border: solid 1px #ccc;
}
th{
    background-color: #FF5A5F;
    color: #fff;
}
tr:nth-child(odd){
    background-color: #eee;
}

@media only screen and (max-width: 1200px){
    .table-responsive table, 
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive tr,
    .table-responsive th,
    .table-responsive td{
        display: block;
    }
    .table-responsive thead{
        display: none;
    }
    .table-responsive td{
        padding-left: 150px;
        position: relative;
        margin-top: -1px;
        background: #fff;
    }
    .table-responsive td:nth-child(odd){
        background-color: #eee;
    }
    .table-responsive td::before{
        padding: 10px;
        content: attr(data-label);
        position: absolute;
        top: 0;
        left: 0;
        width: 130px;
        bottom: 0;
        background-color: #FF5A5F;
        color: #fff;
        display: flex;
        align-items: center;
        font-weight: bold;
    }
    .table-responsive tr{
        margin-bottom: 1rem;
    }
    .table-responsive th + td{
        padding-left: 10px;
    }
    .table-responsive th + td::before{
        display: none;
    }
}

/*---------------------Dropdow-Menu---------------------------*/



